.bg-orange-left {
    background-color: #404E67 !important;
}

.bg-lightbrown {
    background-color: #ffffff !important;
}

.text-orange {
    color: #009c9f !important;
}

.float-left-head {
    float: left !important;
    margin-top: 15px;
    color: #ffffff;
}

.float-right-head {
    float: right !important;
    margin-top: 15px;
    color: #ffffff;
}

section.resume-section {
    padding-left: 20px !important;
    padding-top: 2.5rem !important;
    padding-bottom: 3rem !important;
}

.rounded-circle-border {
    border-radius: 50% !important;
    border: 5px solid #dcdcdc;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #00B5B8;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 29px 0;
    padding-left: 10px;
}

ul.timeline>section>li:before {
    content: '  ';
    background: #ffffff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
    margin-top: 15px;
}
