$white: #fff;
$white-1: #f5f7fa;
$white-2: #f5f8fd;
$white-3: #e4edf9;
$black: #000000;
$black-1: #2c2f3f;
$black-2: #212431;
$black-3: #050d18;
$black-gray: #404e67;
$primary: #009c9f;
$gray: #a8a9b4;
$gray-1: #6f7180;
$navy-blue: #173b6c;
$blue: #1f5297;
