$Orange: #bd5d38 !default;
$Bluegray: #283a3c !default;
$Brown: #57392f !default;
$Gray: #868e96 !default;
$Lightgray: #d4d9df !default;
$Blackgray: #343a40 !default;
$White: #ffffff !default;
$Lightblue: #22c0e8 !default;