$Orange: #bd5d38 !default;
$Lightorange: #ca7d60 !default;
$Lightgold: #ef9671 !default;
$Bluegray: #283a3c !default;
$Brown: #57392f !default;
$Gray: #868e96 !default;
$Graywhite: #dcdcdc !default;
$Lightgray: #d4d9df !default;
$Blackgray: #343a40 !default;
$White: #ffffff !default;
$Lightblue: #22c0e8 !default;
$Cornsilk: #F5F7FA !default;
$Lightbrown: #f7f2f0 !default;
$Greensky: #00B5B8 !default;
$Greenwhite: #009c9f !default;
$GrayBlack: #404E67 !default;
