@import "setcolor";

.bg-orange-left {
    background-color: $Orange !important;
    height:100%;
}

.text-orange {
    color: $Orange !important;
}

.float-left-head {
    float: left !important;
    margin-top: 15px;
    color: #ffffff;
}

.float-right-head {
    float: right !important;
    margin-top: 15px;
    color: #ffffff;
}

section.resume-section {
    padding-left: 20px !important;
    padding-top: 2.5rem !important;
    padding-bottom: 3rem !important;
}

.rounded-circle {
    border-radius: 50% !important;
    border:5px solid $Brown;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 15px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 10px;
}

ul.timeline>section>li:before {
    content: '  ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 6px;
    width: 20px;
    height: 20px;
    z-index: 400;
    margin-top: 15px;
}
