@import "setcolor";

.bg-orange-left {
    background-color: $Orange !important;
    height:100%;
}

.text-orange {
    color: $Orange !important;
}

.float-left-head {
    float: left !important;
    margin-top: 15px;
    color: $White;
}

.float-right-head {
    float: right !important;
    margin-top: 15px;
    color: $White;
}

section.resume-section {
    padding-left: 20px !important;
    padding-top: 2.5rem !important;
    padding-bottom: 3rem !important;
}

.rounded-circle {
    border-radius: 50% !important;
    border:5px solid $Brown;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: $Lightgray;
    display: inline-block;
    position: absolute;
    left: 15px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 10px;
}

ul.timeline>section>li:before {
    content: '  ';
    background: $White;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid $Lightblue;
    left: 6px;
    width: 20px;
    height: 20px;
    z-index: 400;
    margin-top: 15px;
}

div.thai {
    background-image: url("../../img/th.png");
    background-repeat: no-repeat;
    opacity: 0.5;
    width: 48px;
    height: 48px;
}

div.thai:hover {
    background-image: url("../../img/th.png");
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 1;
    width: 48px;
    height: 48px;
}

div.english {
    background-image: url("../../img/en.png");
    background-repeat: no-repeat;
    opacity: 0.5;
    width: 48px;
    height: 48px;
}

div.english:hover {
    background-image: url("../../img/en.png");
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 1;
    width: 48px;
    height: 48px;
}
