@import "setcolor";

.setting_image {
    width: 48px;
    height: 48px;
    opacity: 0.3;
}

.setting_image:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.95;
    cursor: pointer;
}